
<div class="form-inline" action="">
  <h2 class="mb-3 mr-3 text-danger font-weight-light">Disponiveis</h2>
  <div class="form-group mb-2">
    <input type="text" class="form-control form-control-sm mr-2" placeholder="Evento" [(ngModel)]='listFilter'>
  </div>
</div>
<h4 class="font-weight-light">Filtro: {{listFilter}}</h4>

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th><button (click)="changeImage()" class="btn btn-sm btn-outline-dark">Imagem</button></th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="events && events.length;">
    <tr *ngFor="let event of events | filter:listFilter">
      <td>{{event.eventId}}</td>
      <td>
        <img *ngIf="showImage" src="http://localhost:5000/img/{{event.imgUrl}}" [style.width.px]="imageWidth" [style.margin.px]="imageMargin" >
      </td>
      <td>{{event.theme}}</td>
      <td>{{event.location}}</td>
      <td>{{event.date}}</td>
      <td>{{event.peoples}}</td>
      <td>{{event.lot | uppercase}}</td>
      <td>
        <button class="btn btn-success mr-1"></button>
        <button class="btn btn-danger"></button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!events.length">
    <tr>
      <td colspan="7" class="text-center">
        <h5 class="font-weight-light"> Nenhum evento Disponível</h5>
      </td>
    </tr>
  </tfoot>
</table>